Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
/Content/_Assets
/Content/ParagonShinbi
/Content/Mixamo
/Content/ParagonLtBelica
/Content/AncientTreasures
/Content/MilitaryWeapSilver
/Content/ParagonMinions
